<!-- <ngb-alert [type]="info" (closed)="close(alert)">
    Only center have authorize to use this page
</ngb-alert> -->


<div class="card card-body mb-3" *ngIf="is_committee">
    <form (ngSubmit)="save_survey()">
    <div class="row">
        <div class="form-group col mb-0 p-1">
            <label class="az-content-label tx-11 tx-medium tx-gray-600">YEAR</label>
            <input type="text" name="survey.year" class="form-control" required 
                [(ngModel)]="survey.year" 
                value="date| date:'yyyy'"
                 >
        </div><!-- form-group -->
        <div class="form-group col mb-0 p-1">
            <label class="az-content-label tx-11 tx-medium tx-gray-600">Organization</label>
            <select [(ngModel)]="survey.org_code"
                [ngModelOptions]="{standalone: true}" 
                class="form-control">
                <option value="{{ _org_code }}">{{ _org_abb }}</option>
            </select>
        </div><!-- form-group -->
        <div class="form-group col mb-0 p-1">
            <label class="az-content-label tx-11 tx-medium tx-gray-600">START DATE</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <i class="typcn typcn-calendar-outline tx-20 lh--9 op-6"></i>
                    </div>
                </div><!-- [(ngModel)]="survey.date_start"  -->
                <input class="form-control" placeholder="yyyy-mm-dd" name="survey.date_start" 
                    ngbDatepicker #date_from="ngbDatepicker" 
                    [(ngModel)]="survey.date_start"
                    (click)="date_from.toggle()" 
                    (dateSelect)="onDateSelectFrom($event)"
                    >
            </div>
        </div><!-- form-group -->
        <div class="form-group col mb-0 p-1">
            <label class="az-content-label tx-11 tx-medium tx-gray-600">END DATE</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <i class="typcn typcn-calendar-outline tx-20 lh--9 op-6"></i>
                    </div>
                </div>
                <input class="form-control" placeholder="yyyy-mm-dd" name="survey.date_end" 
                    ngbDatepicker #date_to="ngbDatepicker" 
                    [(ngModel)]="survey.date_end" 
                    (click)="date_to.toggle()" 
                    (dateSelect)="onDateSelectTo($event)">
            </div>
        </div><!-- form-group -->
        <div class="form-group col mb-0 p-1">
            <label class="az-content-label tx-11 tx-medium tx-gray-600"> </label>
            <div>
                <button type="submit" class="btn btn-az-primary btn-sm">Save</button>
                <button type="button" class="btn btn-dark btn-sm" (click)="reset_form_survey()">Clear</button>
            </div>
        </div>
    </div>
    </form>
</div>

<table class="table table-bordered table-bordered" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
    <thead>
        <tr>
            <th class="text-center">YEAR</th>
            <th class="text-center">START DATE</th>
            <th class="text-center">END DATE</th>
            <th class="text-center">ORGANIZATION VIEW</th>
            <th class="text-center">MONTH VIEW</th>
            <th class="text-center">MANAGE</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let i of surveys">
            <td class="text-center tx-13">{{ i.year }}</td>
            <td class="text-center tx-13">{{ i.date_start | date:'dd-MMM-yy' }}</td>
            <td class="text-center tx-13">{{ i.date_end | date:'dd-MMM-yy' }}</td>
            <td class="text-center tx-13">
                <a href=""><i class="far fa-eye"></i></a>
            </td>
            <td class="text-center tx-13">
                <a href=""><i class="far fa-eye"></i></a>
            </td>
            <td class="text-center tx-13">       
                <a href="javascript:;" (click)="get_survey(i.year)"><i class="far fa-edit"></i></a>
                <a href="javascript:;" (click)="delete_survey(i.year)"><i class="far fa-trash-alt"></i></a>
            </td>
        </tr>
    </tbody>
</table>