<div class="row mb-3">
    <div class="col-6 offset-3">
        <div class="form-group col mb-0">
            <label class="az-content-label tx-11 tx-medium tx-gray-600">COURSE NO.</label>     
            <ng-select 
                [(ngModel)]="course_no"
                [items]="courses"
                [ngModelOptions]="{standalone: true}"
                [searchFn]="custom_search_course_fn"
                bindValue="course_no"
                bindLabel="course_no"
                allow-clear="true"
                (change)="get_course()"
                autocomplete="disabled">	
                <ng-template ng-option-tmp ng-label-tmp let-item="item">
                    {{item.course_no}}: {{item.course_name_th}}
                </ng-template>	
            </ng-select>
        </div>
    </div>
</div>
<div class="card card-body tx-13 mt-3 mb-3" *ngIf="(course | json) != '{}'">
    <dl class="row my-0">
        <dt class="col-sm-2">COURSE NO.: </dt>
        <dd class="col-sm-2">{{ course.course_no }}</dd>
    </dl>
    <dl class="row my-0">
        <dt class="col-sm-2">THAI NAME:</dt>
        <dd class="col-sm-4">{{ course.course_name_th || '-' }}</dd>
        <dt class="col-sm-2">ENGLISH  NAME:</dt>
        <dd class="col-sm-4">{{ course.course_name_en || '-' }}</dd>
    </dl>
    <dl class="row my-0">
        <dt class="col-sm-2">GROUP:</dt>
        <dd class="col-sm-4">{{ course.organization.org_abb+" ("+course.org_code+")" }}</dd>
        <dt class="col-sm-2">OPEN REGISTER:</dt>
        <dd class="col-sm-4">{{ course.open_register? "OPEN":"CLOSE" }}</dd>
    </dl>
    <dl class="row my-0">
        <dt class="col-sm-2">DAY: </dt>
        <dd class="col-sm-4">{{ course.days }}</dd>
        <dt class="col-sm-2">CAPACITY:</dt>
        <dd class="col-sm-4">{{ course.capacity }}</dd>
    </dl>
    <dl class="row my-0">
        <dt class="col-sm-2">FROM:</dt>
        <dd class="col-sm-4">{{ course.date_start | date:'yy/MM/dd HH:mm' }}</dd>
        <dt class="col-sm-2">TO:</dt>
        <dd class="col-sm-4">{{ course.date_end | date:'yy/MM/dd HH:mm' }}</dd>
    </dl>
    <dl class="row my-0">
        <dt class="col-sm-2">TRAINER:</dt>
        <dd class="col-sm-4">{{ course.trainer_text }}</dd> 
        <dt class="col-sm-2">BAND:</dt>
        <dd class="col-sm-4">{{ course.band_text }}</dd> 
    </dl>
    <dl class="row my-0">
        <dt class="col-sm-2">CREATED:</dt>
        <dd class="col-sm-4">{{ course.created_at | date:'yy/MM/dd HH:mm:ss' }}{{" ("+course.created_by+")" }}</dd> 
        <dt class="col-sm-2">UPDATED:</dt>
        <dd class="col-sm-4">{{ course.updated_at | date:'yy/MM/dd HH:mm:ss' }}{{" ("+course.updated_by+")" }}</dd> 
    </dl>
</div>

<div class="card mt-2" *ngIf="email && email.registrant" >
    <div class="card-header tx-medium">
        To <small>(Student)</small>
        <a href="javascript:;" (click)="copy_to_clipboard('to')" class="badge badge-secondary float-right">Copy</a>
    </div><!-- card-header -->
    <div class="card-body">
        {{ email.to }}
    </div><!-- card-body -->
</div><!-- card -->

<div class="card mt-2" *ngIf="email">
    <div class="card-header tx-medium">
        CC <small>(Student committee, Course committee, Trainer)</small>
        <a href="javascript:;" (click)="copy_to_clipboard('cc')" class="badge badge-secondary float-right">Copy</a>
    </div><!-- card-header -->
    <div class="card-body">
        {{ email.cc }}
    </div><!-- card-body -->
</div><!-- card -->

<div class="card mt-2" *ngIf="email && email.content">
    <div class="card-header tx-medium">
        Content 
        <a href="javascript:;" (click)="copy_to_clipboard('content')" class="badge badge-secondary float-right">Copy</a>
    </div><!-- card-header -->
    <div class="card-body" [innerHTML]="email.content">
    </div><!-- card-body -->
</div><!-- card -->

<div class="card mt-2" *ngIf="email && email.content">
    <div class="card-header tx-medium">
        Attachment
    </div><!-- card-header -->
    <div class="card-body">
        <a href="{{ report_url }}" target="_blank"><i class="fas fa-external-link-alt"></i> Open in new windows</a>
    </div><!-- card-body -->
</div><!-- card -->