<form (ngSubmit)="register()">
    <div class="row mb-3" *ngIf="is_committee">
        <div class="col-6 offset-3">
            <div class="form-group col mb-0">
                <label class="az-content-label tx-11 tx-medium tx-gray-600">
                    COURSE NO. <small class="text-muted">&lt;Display all of the opening courses and before course start 5 days&gt;</small>
                </label>     
                <ng-select 
                    [(ngModel)]="course_no"
                    [items]="courses"
                    [ngModelOptions]="{standalone: true}"
                    [searchFn]="custom_search_course_fn"
                    bindValue="course_no"
                    bindLabel="course_no"
                    allow-clear="true"
                    (change)="get_course()"
                    [ngClass]="{ 'is-invalid': errors && errors.course_no }" >	
                    <ng-template ng-option-tmp ng-label-tmp let-item="item">
                        {{item.course_no}}: {{item.course_name_th}}
                    </ng-template>	
                </ng-select>
                <p class="invalid-feedback" *ngIf="errors && errors.course_no"> 
                    <span *ngFor="let text of errors.course_no">{{ text }}</span>
                </p>
            </div>
        </div>
    </div>

    <div class="card card-body tx-13 mt-3 mb-3" *ngIf="is_committee && (course | json) != '{}'">
        <dl class="row my-0">
            <dt class="col-sm-2">COURSE NO.: </dt>
            <dd class="col-sm-2">{{ course.course_no }}</dd>
        </dl>
        <dl class="row my-0">
            <dt class="col-sm-2">THAI NAME:</dt>
            <dd class="col-sm-4">{{ course.course_name_th || '-' }}</dd>
            <dt class="col-sm-2">ENGLISH  NAME:</dt>
            <dd class="col-sm-4">{{ course.course_name_en || '-' }}</dd>
        </dl>
        <dl class="row my-0">
            <dt class="col-sm-2">GROUP:</dt>
            <dd class="col-sm-4">{{ course.organization.org_abb+" ("+course.org_code+")" }}</dd>
            <dt class="col-sm-2">OPEN REGISTER:</dt>
            <dd class="col-sm-4">{{ course.open_register? "OPEN":"CLOSE" }}</dd>
        </dl>
        <dl class="row my-0">
            <dt class="col-sm-2">DAY: </dt>
            <dd class="col-sm-4">{{ course.days }}</dd>
            <dt class="col-sm-2">CAPACITY:</dt>
            <dd class="col-sm-4">{{ course.capacity }}</dd>
        </dl>
        <dl class="row my-0">
            <dt class="col-sm-2">FROM:</dt>
            <dd class="col-sm-4">{{ course.date_start | date:'yy/MM/dd HH:mm' }}</dd>
            <dt class="col-sm-2">TO:</dt>
            <dd class="col-sm-4">{{ course.date_end | date:'yy/MM/dd HH:mm' }}</dd>
        </dl>
        <dl class="row my-0">
            <dt class="col-sm-2">TRAINER:</dt>
            <dd class="col-sm-4">{{ course.trainer_text }}</dd> 
            <dt class="col-sm-2">BAND:</dt>
            <dd class="col-sm-4">{{ course.band_text }}</dd> 
        </dl>
        <dl class="row my-0">
            <dt class="col-sm-2">CREATED:</dt>
            <dd class="col-sm-4">{{ course.created_at | date:'yy/MM/dd HH:mm:ss' }}{{" ("+course.created_by+")" }}</dd> 
            <dt class="col-sm-2">UPDATED:</dt>
            <dd class="col-sm-4">{{ course.updated_at | date:'yy/MM/dd HH:mm:ss' }}{{" ("+course.updated_by+")" }}</dd> 
        </dl>
    </div>

    <div class="card mb-3" *ngIf="is_committee && !has_continuous">
        <div class="card-header">
            Register
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-2">
                    <div class="form-group">
                        <label class="az-content-label tx-11 tx-medium tx-gray-600">emp no.</label>
                        <input type="text" class="form-control" placeholder="0XXXXX" autofocus
                                name="emp_no" 
                                (keyup)="onKeyEmpno($event)" 
                                [ngClass]="{ 'is-invalid': errors && errors.emp_no }" 
                                #txtemp_no
                                [(ngModel)]="emp_no">
                        <p class="invalid-feedback" *ngIf="errors && errors.emp_no"> 
                            <span *ngFor="let text of errors.emp_no">{{ text }}</span>
                        </p>
                        <p class="text-warning tx-13">{{ txt_not_pass }}</p>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label class="az-content-label tx-11 tx-medium tx-gray-600">name</label>
                        <input type="text" class="form-control" readonly="" #txtfull_name
                            name="emp_name" [(ngModel)]="emp_name">
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-group">
                        <label class="az-content-label tx-11 tx-medium tx-gray-600">position</label>
                        <input type="text" class="form-control" readonly="" #txtposition>
                    </div>
                </div>
                <div class="col-1">
                    <div class="form-group">
                        <label class="az-content-label tx-11 tx-medium tx-gray-600">band</label>
                        <input type="text" class="form-control" readonly="" #txtband>
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-group">
                        <label class="az-content-label tx-11 tx-medium tx-gray-600">div/dept</label>
                        <input type="text" class="form-control" readonly="" #txtdept>
                    </div>
                </div>
                <div class="col-2 text-right pt-4">
                    <button type="submit" class="btn btn-az-primary btn-sm">Save</button>
                    <button type="button" class="btn btn-dark btn-sm" (click)="clear_register_form()">Clear</button>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-4">
                    <label class="az-content-label tx-11 tx-medium tx-gray-600">import</label>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input pointer" (change)="chooseFile($event)" #customFile
                            [ngClass]="{ 'is-invalid': errors && errors.file_form }" >
                        <label class="custom-file-label" for="customFile">{{nameFile}}</label>
                    </div>
                    <p class="invalid-feedback-nc" *ngIf="errors && errors.file_form"> 
                        <span *ngFor="let text of errors.file_form">{{ text }}</span>
                    </p>
                </div>
                <div class="col-6">
                    <label class="az-content-label tx-11 tx-medium tx-gray-600 invisible">button</label>
                    <div>
                        <button type="button" class="btn btn-outline-indigo btn-sm" (click)="dowloadFormat()">
                            <i class="fas fa-cloud-download-alt"></i> Download template
                        </button>
                        <button type="button" class="btn btn-outline-indigo btn-sm" (click)="upload()">
                            <i class="fas fa-cloud-upload-alt"></i> Upload
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="card card-body mb-3" *ngIf="is_committee && (course | json) != '{}' && has_continuous">
    <p class="m-0">
        Registrants in this course are registered by Continuous way.
    </p>
</div>

<div class="card bd-0" *ngIf="is_committee">
    <ul class="nav nav-tabs card-header bg-gray-400" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="your-tab" data-toggle="tab" href="#your" role="tab" aria-controls="your" aria-selected="true">
                Your organization ({{_org_abb}})
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="other-tab" data-toggle="tab" href="#other" role="tab" aria-controls="other" aria-selected="false">
                Other organization
            </a>
        </li>
    </ul>

    <div class="tab-content card-body bd bd-t-0 " id="myTabContent">
        <div class="tab-pane fade show active" id="your" role="tabpanel" aria-labelledby="your-tab">
            <table datatable id="example1" [dtOptions]="dtOptions[0]" [dtTrigger]="dtTrigger[0]" 
                class="table table-bordered table-hover table-sm">
                <thead>
                    <tr>
                        <th class="text-center">seq</th>
                        <th class="text-center">emp no.</th>
                        <th class="text-center">title</th>
                        <th class="text-center">first name</th>
                        <th class="text-center">last name</th>
                        <th class="text-center">position</th>
                        <th class="text-center">band</th>
                        <th class="text-center">div/dept</th>
                        <th class="text-center">status</th>
                        <th class="text-center">remark</th>
                        <th class="text-center">manage</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of data_grid; let i = index">
                        <td class="text-center">{{ item.seq_no }}</td>
                        <td class="text-center">{{ item.emp_no }}</td>
                        <td>{{ item.title_name_en }}</td>
                        <td>{{ item.firstname_en }}</td>
                        <td>{{ item.lastname_en }}</td>
                        <td>{{ item.position_name_en }}</td>
                        <td class="text-center">{{ item.band }}</td>
                        <td>{{item.div_abb+"/"+item.dept_abb }}</td>
                        <td>{{ item.last_status }}</td>
                        <td>
                            <ng-container *ngIf="item.course_name_en === '';else show">
                                <span>{{ item.remark }}</span>
                            </ng-container>
                            <ng-template #show>
                                <span placement="bottom" ngbTooltip="{{ item.course_name_en }}">{{ item.remark }}</span>
                            </ng-template>
                        </td>
                        <td class="text-center">
                            <a href="javascript:;"><i class="far fa-trash-alt pointer" (click)="fnDelete(item)"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade" id="other" role="tabpanel" aria-labelledby="other-tab">
            <table datatable id="example2" [dtOptions]="dtOptions[1]" [dtTrigger]="dtTrigger[1]"
            class="table table-bordered table-hover table-sm">
                <thead>
                    <tr>
                        <th class="text-center">seq</th>
                        <th class="text-center">emp no.</th>
                        <th class="text-center">title</th>
                        <th class="text-center">first name</th>
                        <th class="text-center">last name</th>
                        <th class="text-center">position</th>
                        <th class="text-center">band</th>
                        <th class="text-center">div/dept</th>
                        <th class="text-center">status</th>
                        <th class="text-center">remark</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of data_grid_other; let i = index">
                        <td class="text-center">{{ item.seq_no }}</td>
                        <td class="text-center">{{ item.emp_no }}</td>
                        <td>{{ item.title_name_en }}</td>
                        <td>{{ item.firstname_en }}</td>
                        <td>{{ item.lastname_en }}</td>
                        <td>{{ item.position_name_en }}</td>
                        <td class="text-center">{{ item.band }}</td>
                        <td>{{item.div_abb+"/"+item.dept_abb }}</td>
                        <td>{{ item.last_status }}</td>
                        <td>
                            <ng-container *ngIf="item.course_name_en === '';else show">
                                <span>{{ item.remark }}</span>
                            </ng-container>
                            <ng-template #show>
                                <span placement="bottom" ngbTooltip="{{ item.course_name_en }}">{{ item.remark }}</span>
                            </ng-template>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div> 
</div>

<div class="card card-body" *ngIf="!is_committee">
    <p class="m-0">
        This page for committee. If you would like to see the status of registration, 
        you can go to <a routerLink="./../course">Course</a> page.
    </p>
</div>