<table class="table table-bordered">
    <thead>
        <tr>
            <!-- <th class="text-center">
                <input type="checkbox" name="employee[]" id="employee-check">
            </th> -->
            <th class="text-center">emp no</th>
            <th class="text-center">Name</th>
            <th class="text-center">Division</th>
            <th class="text-center">Department</th>
            <th class="text-center">BAND</th>
            <th class="text-center">POSITION</th>
            <th class="text-center">RESET PASSWORD</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of employees">
            <!-- <th class="text-center">
                <input type="checkbox" name="employee[]" value="{{ user.EMP_NO }}">
            </th> -->
            <td>{{ user.EMP_NO }}</td>
            <td>{{ (user.FIRSTNAME_EN === null)? '':user.FIRSTNAME_EN+' '+user.LASTNAME_EN }}</td>
            <td>{{ (user.DIV_ABB === null)? '':user.DIV_ABB+'('+ user.DIV_CODE +')' }}</td>
            <td>{{ (user.DEPT_ABB === null)? '':user.DEPT_ABB+'('+ user.DEPT_CODE +')' }}</td>
            <td>{{ user.BAND }}</td>
            <td>{{ user.POSITION_NAME_EN }}</td>
            <td class="text-center">
                <button type="button" class="btn btn-sm btn-success">
                    Reset
                </button>
            </td>
        </tr>
    </tbody>
</table>
