<div class="row mb-3" *ngIf="is_committee">
    <div class="col-6 offset-3">
        <div class="form-group col mb-0">
            <label class="az-content-label tx-11 tx-medium tx-gray-600">COURSE NO.
                <small class="text-muted">&lt;Display all courses of {{ _org_abb }} 
                    and after course end within 10 working days&gt;</small>
            </label>     
            <ng-select 
                [(ngModel)]="course_no"
                [items]="courses"
                [ngModelOptions]="{standalone: true}"
                [searchFn]="custom_search_course_fn"
                bindValue="course_no"
                bindLabel="course_no"
                allow-clear="true"
                (change)="get_course()"
                [ngClass]="{ 'is-invalid': errors && errors.course_no }">	
                <ng-template ng-option-tmp ng-label-tmp let-item="item">
                    {{item.course_no}}: {{item.course_name_th}}
                </ng-template>	
            </ng-select>
            <p class="invalid-feedback" *ngIf="errors && errors.course_no"> 
                <span *ngFor="let text of errors.course_no">{{ text }}</span>
            </p>
        </div>
    </div>
</div>

<div class="card card-body tx-13 mt-3 mb-3" *ngIf="is_committee && (course | json) != '{}'">
    <dl class="row my-0">
        <dt class="col-sm-2">COURSE NO.: </dt>
        <dd class="col-sm-2">{{ course.course_no }}</dd>
    </dl>
    <dl class="row my-0">
        <dt class="col-sm-2">THAI NAME:</dt>
        <dd class="col-sm-4">{{ course.course_name_th || '-' }}</dd>
        <dt class="col-sm-2">ENGLISH  NAME:</dt>
        <dd class="col-sm-4">{{ course.course_name_en || '-' }}</dd>
    </dl>
    <dl class="row my-0">
        <dt class="col-sm-2">GROUP:</dt>
        <dd class="col-sm-4">{{ course.organization.org_abb+" ("+course.org_code+")" }}</dd>
        <dt class="col-sm-2">OPEN REGISTER:</dt>
        <dd class="col-sm-4">{{ course.open_register? "OPEN":"CLOSE" }}</dd>
    </dl>
    <dl class="row my-0">
        <dt class="col-sm-2">DAY: </dt>
        <dd class="col-sm-4">{{ course.days }}</dd>
        <dt class="col-sm-2">CAPACITY:</dt>
        <dd class="col-sm-4">{{ course.capacity }}</dd>
    </dl>
    <dl class="row my-0">
        <dt class="col-sm-2">FROM:</dt>
        <dd class="col-sm-4">{{ course.date_start | date:'yy/MM/dd HH:mm' }}</dd>
        <dt class="col-sm-2">TO:</dt>
        <dd class="col-sm-4">{{ course.date_end | date:'yy/MM/dd HH:mm' }}</dd>
    </dl>
    <dl class="row my-0">
        <dt class="col-sm-2">TRAINER:</dt>
        <dd class="col-sm-4">{{ course.trainer_text }}</dd> 
        <dt class="col-sm-2">BAND:</dt>
        <dd class="col-sm-4">{{ course.band_text }}</dd> 
    </dl>
    <dl class="row my-0">
        <dt class="col-sm-2">CREATED:</dt>
        <dd class="col-sm-4">{{ course.created_at | date:'yy/MM/dd HH:mm:ss' }}{{" ("+course.created_by+")" }}</dd> 
        <dt class="col-sm-2">UPDATED:</dt>
        <dd class="col-sm-4">{{ course.updated_at | date:'yy/MM/dd HH:mm:ss' }}{{" ("+course.updated_by+")" }}</dd> 
    </dl>
</div>

<div class="card mt-3 mb-3" *ngIf="is_committee && has_continuous" [formGroup]="form">
    <div class="card-header">
        Register
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-2">
                <div class="form-group">
                    <label class="az-content-label tx-11 tx-medium tx-gray-600">emp no. from</label>
                    <input type="text" class="form-control" [readonly]="isreadonly" minlength="0" maxlength="7" 
                    placeholder="8XXXXX"
                    formControlName="frm_emp_no_from" [ngClass]="{ 'is-invalid': submitted && f.frm_emp_no_from.errors }" 
                    (keyup)="onKeyEmpNoFrom($event)" #txtemp_no_from>
                    <div *ngIf="f.frm_emp_no_from.errors" class="invalid-feedback">
                        <div *ngIf="f.frm_emp_no_from.errors.required">Required</div>
                        <div *ngIf="f.frm_emp_no_from.errors.minlength">Min 1 characters</div>
                        <div *ngIf="f.frm_emp_no_from.errors.maxlength">Max 7 characters</div>
                        <div *ngIf="f.frm_emp_no_from.errors.someErrorFrom">Please fill correct data</div>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="form-group">
                    <label class="az-content-label tx-11 tx-medium tx-gray-600">emp no. to</label>
                    <input type="text" class="form-control" [readonly]="isreadonly" minlength="0" maxlength="7" 
                    placeholder="8XXXXX"
                    formControlName="frm_emp_no_to" [ngClass]="{ 'is-invalid': submitted && f.frm_emp_no_to.errors }" 
                    (keyup)="onKeyEmpNoTo($event)" #txtemp_no_to>
                    <div *ngIf="f.frm_emp_no_to.errors" class="invalid-feedback">
                        <div *ngIf="f.frm_emp_no_to.errors.required">Required</div>
                        <div *ngIf="f.frm_emp_no_to.errors.minlength">Min 1 characters</div>
                        <div *ngIf="f.frm_emp_no_to.errors.maxlength">Max 7 characters</div>
                        <div *ngIf="f.frm_emp_no_to.errors.someErrorTo">Please fill correct data</div>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="row">
                    <div class="col-8 pr-0">
                        <div class="form-group">
                            <label class="az-content-label tx-11 tx-medium tx-gray-600">pre-test</label>
                            <input type="text" class="form-control" minlength="0" maxlength="3" formControlName="frm_pre_test_score" [ngClass]="{ 'is-invalid': submitted && f.frm_pre_test_score.errors }" (keyup)="onKeyPreTestScore($event)" #txtpre_test_score>
                        </div>
                    </div>
                    <div class="col-4 pl-1">
                        <div class="form-group">
                            <label class="az-content-label tx-11 tx-medium tx-gray-600 invisible">pre_test_grade</label>
                            <input type="text" class="form-control" readonly="" #txtpre_test_grade>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="row">
                    <div class="col-8 pr-0">
                        <div class="form-group">
                            <label class="az-content-label tx-11 tx-medium tx-gray-600">post-test</label>
                            <input type="text" class="form-control" minlength="0" maxlength="3" formControlName="frm_post_test_score" [ngClass]="{ 'is-invalid': submitted && f.frm_post_test_score.errors }" (keyup)="onKeyPostTestScore($event)" #txtpost_test_score>
                        </div>
                    </div>
                    <div class="col-4 pl-1">
                        <div class="form-group">
                            <label class="az-content-label tx-11 tx-medium tx-gray-600 invisible">post_test_grade</label>
                            <input type="text" class="form-control" readonly="" #txtpost_test_grade>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-1">
                <div class="form-group">
                    <label class="az-content-label tx-11 tx-medium tx-gray-600">total</label>
                    <input type="text" class="form-control" readonly="" #txttotal>
                </div>
            </div>
            <div class="col-2">
                <div class="form-group">
                    <label class="az-content-label tx-11 tx-medium tx-gray-600 invisible"> </label>
                    <div>
                        <button type="submit" class="btn btn-az-primary btn-sm" (click)="save_trainee()">Save</button>
                        <button type="button" class="btn btn-dark btn-sm" (click)="fnClear()">Clear</button>
                    </div>
                </div>
            </div>  
        </div>
    </div>
</div>

<div class="card card-body mb-3" *ngIf="is_committee && (course | json) != '{}' && !has_continuous">
    <p class="m-0">
        Registrants in this course are registered by Approve way.
    </p>
</div>

<table *ngIf="is_committee" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" 
    class="table table-bordered table-hover table-sm mt-3">
    <thead>
        <tr>
            <th class="text-center">SEQ</th>
            <th class="text-center">emp no</th>
            <th class="text-center">title</th>
            <th class="text-center">first name</th>
            <th class="text-center">last name</th>
            <th class="text-center">band</th>
            <th class="text-center">div/dept</th>
            <th class="text-center">ENTRANCE</th>
            <th class="text-center">PRE-TEST</th>
            <th class="text-center">POST-TEST</th>
            <th class="text-center">manage</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of data_grid; let i = index">
            <td class="text-right">{{ i + 1 }}</td>
            <td>{{ item.emp_no }}</td>
            <td>{{ item.employees.title_name_en }}</td>
            <td>{{ item.employees.firstname_en }}</td>
            <td>{{ item.employees.lastname_en }}</td>
            <td class="text-center">{{ item.employees.band }}</td>
            <td class="text-center">{{ item.employees.div_abb+"/"+item.employees.dept_abb}}</td>
            <td>{{ item.employees.entrance_date | date:'yy/MM/dd'}}</td>
            <td class="text-center">
                {{ item.pre_test_score==null? "":item.pre_test_score+" ("+item.pre_test_grade+")" }}
            </td>
            <td class="text-center">
                {{ item.post_test_score==null? "":item.post_test_score+" ("+item.post_test_grade+")"  }}
            </td>
            <td class="text-center">
                <a href="javascript:;" (click)="fnDelete(item)"><i class="far fa-trash-alt pointer"></i></a>
            </td>
        </tr>
    </tbody>
</table>

<div class="card card-body" *ngIf="!is_committee">
    <p class="m-0">
        This page for committee. If you would like to see the status of registration, 
        you can go to <a routerLink="./../course">Course</a> page.
    </p>
</div>

