<div class="card card-body mb-3">
    <form >
        <div class="form-row" *ngIf="is_center">
            <div class="form-group col-4 offset-4 mb-0 p-1">
            <label class="az-content-label tx-11 tx-medium tx-gray-600">Organization</label>
            <ng-select
                    [items]="departments" 
                    [searchFn]="custom_search_org_fn"
                    [selectableGroup]="true"
                    bindLabel="org_abb" 
                    bindValue="org_code"
                    [groupBy]="group_by_parent_org_code_fn"
                    [groupValue]="group_value_parent_org_code_fn"
                    [compareWith]="compare_org"
                    [(ngModel)]="org_code" 
                    [ngModelOptions]="{standalone: true}"
                    >
                    <ng-template ng-label-tmp let-item="item">
                        {{ item.org_abb + '('+item.org_code+')' }}
                    </ng-template>
                    <ng-template ng-optgroup-tmp let-item="item" let-index="index">
                        {{ item.org_abb + '('+item.org_code+')' }}
                    </ng-template>
            </ng-select>
        </div><!-- form-group -->
        </div>
        <div class="form-row">
        <div class="form-group col-4 offset-4 mb-0 p-1">
            <label class="az-content-label tx-11 tx-medium tx-gray-600">Employed status</label>
            <select class="form-control" 
                name="employed_status"
                [(ngModel)]="employed_status"
                (change)="get_course_map()"
                >
                <option value="">ALL</option>
                <option value="Employed">Employed</option>
                <option value="Resigned">Resigned</option>
            </select>
        </div>
    </div>
    </form> 
</div>


<table class="table table-hovered table-bordered mt-3" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
    <thead>
        <tr>
            <th class="text-center">EMP NO.</th>
            <th class="text-center">TITLE</th>
            <th class="text-center">FIRSTNAME</th>
            <th class="text-center">LASTNAME</th>
            <th class="text-center">DIVISION</th>
            <th class="text-center">DEPARTMENT</th>
            <th class="text-center">POSITION</th>
            <th class="text-center">BAND</th>
            <th class="text-center">EMPLOYED STATUS</th>
            <th *ngFor="let h of table_header" class="tx-rotate nosort"><span>{{ h }}</span></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of course_map; let i = index">
            <td>{{ data.emp_no }}</td> 
            <td>{{ data.title_name_en }}</td>
            <td>{{ data.firstname_en }}</td>
            <td>{{ data.lastname_en }}</td>
            <td>{{ data.div_abb }}</td>
            <td>{{ data.dept_abb }}</td>
            <td>{{ data.position_name_en }}</td>
            <td class="text-center">{{ data.band }}</td>
            <td class="text-center" [ngClass]="data.employed_status=='Resigned'? 'tx-danger':''">{{ data.employed_status }}</td>
            <td class="text-center"  *ngFor="let h of table_header">{{ data[h] }}</td>
        </tr>
        
    </tbody>
</table>