<div class="az-sidebar">
    <div class="az-sidebar-header">
        <a href="#" class="az-logo">HRGIS</a>
    </div>
    <!-- az-sidebar-header -->
    <div class="az-sidebar-loggedin">
        <div class="az-img-user online">
            <!-- <img src="assets/images/img1.jpg" alt=""> -->
            <img #image src="{{images}}" class="img-radius" alt="image">
        </div>
        <div class="media-body">
            <h6>{{_fullname}}.</h6>
            <span>{{_positions}}</span>
        </div>
        <!-- media-body -->
    </div>
    <!-- az-sidebar-loggedin -->
    <div class="az-sidebar-body">
        <ul class="nav">
            <li class="nav-label mb-3">Main Menu</li>
            <a routerLink="training" class="nav-link active">Training</a>
        </ul>
        <!-- nav -->
    </div>
    <!-- az-sidebar-body -->
</div>
<!-- az-sidebar -->