<div class="row">
    <div class="col-12">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered table-hover table-sm" id="example">
            <thead>
                <tr class="text-uppercase">
                    <th [width]="100">course no.</th>
                    <th>english course name</th>
                    <th>thai course name</th>
                    <th [width]="90">group</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of data_grid; let i = index" (click)="onSelect(item)" class="pointer">
                    <td>{{ item.course_no }}</td>
                    <td>{{ item.course_name_en }}</td>
                    <td>{{ item.course_name_th }}</td>
                    <td>
                        <div *ngIf="item.org_abb != null; else elseBlock">{{ item.org_abb+" ("+ item.org_code+")" }}</div>
                        <ng-template #elseBlock>
                            {{ item.organization.org_abb+" ("+item.org_code+")" }}
                        </ng-template>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<style>
    .pointer {
        cursor: pointer;
    }
</style>