
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutReport.cshtml";
}

<h1>Index</h1>

<div class="list-group">
    <a asp-action="ConfirmationSheet" class="list-group-item list-group-item-action">ConfirmationSheet</a>
    <a asp-action="CourseAttendeeFromMasterCourse" class="list-group-item list-group-item-action">CourseAttendeeFromMasterCourse</a>
    <a asp-action="CourseCountTrainee" class="list-group-item list-group-item-action">CourseCountTrainee</a>
    <a asp-action="CourseMap" class="list-group-item list-group-item-action">CourseMap</a>
    <a asp-action="TargetGroupOfMasterCourse" class="list-group-item list-group-item-action">TargetGroupOfMasterCourse</a>
    <a asp-action="EmployeeTraining" class="list-group-item list-group-item-action">EmployeeTraining</a>
    <a asp-action="SignatureSheet" class="list-group-item list-group-item-action">SignatureSheet</a>
    <a asp-action="TrainerHistory" class="list-group-item list-group-item-action">TrainerHistory</a>
    <a asp-action="CourseMaster" class="list-group-item list-group-item-action">CourseMaster</a>
    <a asp-action="Course" class="list-group-item list-group-item-action">Course</a>
    <a asp-action="TrainingData" class="list-group-item list-group-item-action">Training data</a>
</div>