<div class="row text-capitalize">
    <div class="col-4 offset-4">
        <div class="form-group col mb-0 p-1">
            <label class="az-content-label tx-11 tx-medium tx-gray-600">EMP NO.</label>
            <input type="text" class="form-control" placeholder="0XXXXX" 
            name="emp_no"
            [(ngModel)]="emp_no"
            (keyup)="onKeyEmp($event)" #txtemp_no>
            <p>{{emp_no}}</p>
        </div><!-- form-group -->
    </div>
</div>
<hr>
<div class="row">
    <div class="col-12">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered table-hover table-sm" id="example">
            <thead>
                <tr>
                    <th class="text-center">NO.</th>
                    <th class="text-center">COURSE NO.</th>
                    <th class="text-center">THAI COURSE NAME</th>
                    <th class="text-center">ENGLISH COURSE NAME</th>
                    <th class="text-center">START</th>
                    <th class="text-center">END</th>
                    <th class="text-center">COURSE OWNER</th>
                    <th class="text-center">PRE TEST</th>
                    <th class="text-center">POST TEST</th>
                    <th class="text-center">TRAINER</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of data_grid; let i = index">
                    <td class="text-center">{{ i + 1 }}</td>
                    <td>{{ item.course_no }}</td>
                    <td>{{ item.course_name_th }}</td>
                    <td>{{ item.course_name_en }}</td>
                    <td>{{ item.date_start | date:'dd-MMM-yy' }}</td>
                    <td>{{ item.date_end | date:'dd-MMM-yy' }}</td>
                    <td class="text-center">{{ item.course_owner_org_abb+" ("+item.course_owner_org_code+")" }}</td>
                    <td class="text-center">{{ item.pre_test_score==null? "":item.pre_test_score+" ("+item.pre_test_grade+")" }}</td>
                    <td class="text-center">{{ item.post_test_score==null? "":item.post_test_score+" ("+item.post_test_grade+")" }}</td>
                    <td>{{ item.full_trainer }}</td>
                </tr>
            </tbody> 
            <!-- <tbody>
                <tr *ngFor="let item of data_grid; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ item.course_no }}</td>
                    <td>{{ item.courses.course_name_th }}</td>
                    <td>{{ item.courses.course_name_en }}</td>
                    <td>{{ item.courses.date_start | date:'dd-MMM-yy' }}</td>
                    <td>{{ item.courses.date_end | date:'dd-MMM-yy' }}</td>
                    <td>{{ item.courses.organization.org_abb+" ("+item.courses.org_code+")" }}</td>
                    <td>{{ item.pre_test_score }}</td>
                    <td>{{ item.post_test_score }}</td>
                    <td>{{ item.full_trainer }}</td>
                </tr>
            </tbody>-->
        </table>
    </div>
</div>
