<button type="button" class="btn btn-dark btn-block" (click)="dump_hrms()" 
*ngIf="_emp_no=='014496' || _dept_abb=='PGA-1'">PULL DATA FROM HRMS</button>

<table class="table table-bordered table-hover table-sm tx-13 mt-4" id="example">
    <thead>
        <tr>
            <th>Item</th>
            <th>Datetime</th>
            <th>By</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let e of history_dump">
            <td>{{ e.description }}</td>
            <td>{{ e.updated_at }}</td>
            <td>{{ e.updated_by }}</td>
        </tr>
    </tbody>
</table>
