<div class="card card-body mb-3" *ngIf="is_committee">
    <div class="row">
        <div class="col-5 pr-0">
            <div class="form-group">
                <label class="az-content-label tx-11 tx-medium tx-gray-600">
                    MASTER COURSE NO. <span class="tx-danger">*</span>
                </label>
                <ng-select 
                    name="course.master_course_no"
                    [(ngModel)]="course.master_course_no"
                    [items]="master_courses"
                    [ngModelOptions]="{standalone: true}"
                    [searchFn]="custom_search_course_fn"
                    bindValue="course_no"
                    bindLabel="course_no"
                    allow-clear="true"
                    (clear)="fnClear()"
                    (ngModelChange)="get_master_course()"
                    [ngClass]="{ 'is-invalid': errors && errors.master_course_no }" >	
                    <ng-template ng-option-tmp ng-label-tmp let-item="item">
                        {{item.course_no}}: {{item.course_name_th}}
                    </ng-template>	
                </ng-select>
                <p class="invalid-feedback-nc" *ngIf="errors && errors.master_course_no"> 
                    <span *ngFor="let text of errors.master_course_no">{{ text }}</span>
                </p>
            </div>
        </div>
        <div class="col-3 pl-1">
            <div class="form-group">
                <label class="az-content-label tx-11 tx-medium tx-gray-600">
                    COURSE NO. <span class="tx-danger">*</span>
                </label>
                <input type="text" class="form-control"
                    name="course.course_no"
                    [(ngModel)]="course.course_no"
                    placeholder="CPT-000-00X" 
                    autofocus 
                    [ngClass]="{ 'is-invalid': errors && errors.course_no }" 
                    #course_no>
                <p class="invalid-feedback-nc" *ngIf="errors && errors.course_no"> 
                    <span *ngFor="let text of errors.course_no">{{ text }}</span>
                </p>
            </div>
        </div>
        <div class="col-2">
            <div class="form-group">
                <label class="az-content-label tx-11 tx-medium tx-gray-600">
                    GROUP <span class="tx-danger">*</span>
                </label>
                <select name="txtgroup" #txtgroup class="form-control" readonly>
                    <option value="{{ _org_code }}">{{ _org_abb }}</option>
                </select>
            </div>
        </div>
        <div class="col-2">
            <div class="form-group">
                <label class="az-content-label tx-11 tx-medium tx-gray-600">open register</label>
                <div class="az-toggle" (click)="course.open_register=!course.open_register" 
                    [ngClass]="course.open_register ? 'on' : null "><span></span></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label class="az-content-label tx-11 tx-medium tx-gray-600">
                    THAI NAME <span class="tx-danger">*</span>
                </label>
                <input type="text" class="form-control" #course_name_th
                    [ngClass]="{ 'is-invalid': errors && errors.course_name_th }" 
                    name="course.course_name_th"
                    [(ngModel)]="course.course_name_th">
                <p class="invalid-feedback" *ngIf="errors && errors.course_name_th"> 
                    <span *ngFor="let text of errors.course_name_th">{{ text }}</span>
                </p>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label class="az-content-label tx-11 tx-medium tx-gray-600">ENGLISH NAME</label>
                <input type="text" class="form-control" #course_name_en
                    [ngClass]="{ 'is-invalid': errors && errors.course_name_en }" 
                    name="course.course_name_en"
                    [(ngModel)]="course.course_name_en">
                <p class="invalid-feedback" *ngIf="errors && errors.course_name_en"> 
                    <span *ngFor="let text of errors.course_name_en">{{ text }}</span>
                </p>
            </div>
        </div>
    </div>
    <div class="row pt-1">
            <div class="col-3">
                <div class="form-group">
                    <label class="az-content-label tx-11 tx-medium tx-gray-600">
                        DAY <span class="tx-danger">*</span>
                    </label>
                    <input type="text" class="form-control" #day
                        [ngClass]="{ 'is-invalid': errors && errors.days }" 
                        name="course.days"
                        [(ngModel)]="course.days">
                    <p class="invalid-feedback" *ngIf="errors && errors.days"> 
                        <span *ngFor="let text of errors.days">{{ text }}</span>
                    </p>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label class="az-content-label tx-11 tx-medium tx-gray-600">
                        capacity <span class="tx-danger">*</span></label>
                    <input type="text" class="form-control" #capacity
                        [ngClass]="{ 'is-invalid': errors && errors.capacity }" 
                        name="course.capacity"
                        [(ngModel)]="course.capacity">
                    <p class="invalid-feedback" *ngIf="errors && errors.capacity"> 
                        <span *ngFor="let text of errors.capacity">{{ text }}</span>
                    </p>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label class="az-content-label tx-11 tx-medium tx-gray-600">band
                        <span class="tx-danger">*</span>
                    </label>
                    <div class="form-row">
                        <label class="ckbox" *ngFor="let item of checkboxesDataList">
                            <input type="checkbox" [(ngModel)]="item.isChecked" [ngModelOptions]="{standalone: true}">
                            <span>{{item.band}} </span>
                        </label>
                        <p class="invalid-feedback-nc" *ngIf="errors && errors.courses_bands"> 
                            <span *ngFor="let text of errors.courses_bands">{{ text }}</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pt-1">
            <div class="col-3">
                <div class="form-group">
                    <label class="az-content-label tx-11 tx-medium tx-gray-600">
                        from <span class="tx-danger">*</span></label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <i class="typcn typcn-calendar-outline tx-20 lh--9 op-6"></i>
                            </div>
                        </div>
                        <input
                            name="course.date_start"
                            [(ngModel)]="course.date_start"
                            class="form-control" 
                            placeholder="yyyy-mm-dd" 
                            name="txtdate_from" 
                            #txtdate_from 
                            ngbDatepicker 
                            #date_from="ngbDatepicker" 
                            (click)="date_from.toggle()" 
                            (dateSelect)="onDateSelectFrom($event)"
                            [ngClass]="{ 'is-invalid': errors && errors.date_start }" >
                    </div>
                    <p class="invalid-feedback-nc" *ngIf="errors && errors.date_start"> 
                        <span *ngFor="let text of errors.date_start">{{ text }}</span>
                    </p>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label class="az-content-label tx-11 tx-medium tx-gray-600">
                        to <span class="tx-danger">*</span>
                    </label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <i class="typcn typcn-calendar-outline tx-20 lh--9 op-6"></i>
                            </div>
                        </div>
                        <input 
                            name="course.date_end"
                            [(ngModel)]="course.date_end"
                            class="form-control" 
                            placeholder="yyyy-mm-dd" 
                            name="txtdate_to" 
                            #txtdate_to 
                            ngbDatepicker 
                            #date_to="ngbDatepicker" 
                            (click)="date_to.toggle()" 
                            (dateSelect)="onDateSelectTo($event)"
                            [ngClass]="{ 'is-invalid': errors && errors.date_end }">
                    </div>
                    <p class="invalid-feedback-nc" *ngIf="errors && errors.date_end"> 
                        <span *ngFor="let text of errors.date_end">{{ text }}</span>
                    </p>
                </div>
            </div>
            <div class="col-3">
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label class="az-content-label tx-11 tx-medium tx-gray-600">time in</label>
                            <ng-select [items]="ddl_hh" bindLabel="name" bindValue="value" 
                                placeholder="HH"
                                [(ngModel)]="course.time_in_hh"
                                [ngClass]="{ 'is-invalid': errors && errors.time_in }">
                            </ng-select>
                        </div>
                    </div>
                    <div class="col-6" style="margin-left: -30px;">
                        <div class="form-group">
                            <label class="az-content-label tx-11 tx-medium tx-gray-600 invisible">mm</label>
                            <ng-select [items]="ddl_mm" bindLabel="name" bindValue="value" 
                                placeholder="mm"
                                [(ngModel)]="course.time_in_mm"
                                [ngClass]="{ 'is-invalid': errors && errors.time_in }">
                            </ng-select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <p class="invalid-feedback-nc" *ngIf="errors && errors.time_in"> 
                            <span *ngFor="let text of errors.time_in">{{ text }}</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label class="az-content-label tx-11 tx-medium tx-gray-600">time out</label>
                            <ng-select [items]="ddl_hh" bindLabel="name" bindValue="value" 
                                placeholder="HH"
                                [(ngModel)]="course.time_out_hh"
                                [ngClass]="{ 'is-invalid': errors && errors.time_out }">
                            </ng-select>
                        </div>
                    </div>
                    <div class="col-6" style="margin-left: -30px;">
                        <div class="form-group">
                            <label class="az-content-label tx-11 tx-medium tx-gray-600 invisible">mm</label>
                            <ng-select [items]="ddl_mm" bindLabel="name" bindValue="value" 
                                placeholder="mm"
                                [(ngModel)]="course.time_out_mm"
                                [ngClass]="{ 'is-invalid': errors && errors.time_out }">
                            </ng-select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <p class="invalid-feedback-nc" *ngIf="errors && errors.time_out"> 
                            <span *ngFor="let text of errors.time_out">{{ text }}</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pt-1">
            <div class="col-3">
                <div class="form-group">
                    <label class="az-content-label tx-11 tx-medium tx-gray-600">
                        place <span class="tx-danger">*</span></label>
                    <input class="form-control" 
                        name="course.place"
                        [(ngModel)]="course.place"
                        [ngClass]="{ 'is-invalid': errors && errors.place }" #place>
                    <p class="invalid-feedback" *ngIf="errors && errors.place"> 
                        <span *ngFor="let text of errors.place">{{ text }}</span>
                    </p>
                </div>
            </div>
            <div class="col-7">
                <div class="form-group">
                    <label class="az-content-label tx-11 tx-medium tx-gray-600">trainer
                    <a href="javascript:;"(click)="open(content)"> 
                        <i class="typcn typcn-document-add tx-20 lh--9"></i>
                    </a>
                </label>
                    <ng-select 
                        [ngClass]="{ 'is-invalid': errors && errors.courses_trainers }"
                        [(ngModel)]="selected_trainer_multiple"
                        [items]="value_trainer"
                        bindValue="trainer_no"
                        bindLabel="display_name"
                        allow-clear="true"
                        [multiple]="true">	
                    </ng-select>
                    <p class="invalid-feedback-nc" *ngIf="errors && errors.courses_trainers"> 
                        <span *ngFor="let text of errors.courses_trainers">{{ text }}</span>
                    </p>
                </div>
            </div>
            <div class="col text-right pt-4">
                <button type="button" *ngIf="visibleSave" class="btn btn-az-primary btn-sm" 
                    (click)="create_course()">Save</button>
                <button type="button" *ngIf="visibleUpdate" class="btn btn-az-primary btn-sm" 
                    (click)="fnUpdate()">Save</button>
                <button type="button" *ngIf="visibleClear" class="btn btn-dark btn-sm" 
                    (click)="fnClear()">Clear</button>
            </div>
        </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="alert alert-outline-info" role="alert" *ngIf="is_committee">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            The data can be revised or deleted after course end within 10 working days
        </div><!-- alert -->
        <!-- <div style="position: absolute; top: 2px;" *ngIf="chk_disable"><input type="checkbox" ngModel (ngModelChange)="onNgModelChange($event)" /> All</div> -->
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" 
                class="table table-bordered table-hover table-sm">
            <thead>
                <tr class="text-uppercase">
                    <th class="text-center">no.</th>
                    <th class="text-center">course no.</th>
                    <th class="text-center">thai name</th>
                    <th class="text-center">start date</th>
                    <th class="text-center">end date</th>
                    <th class="text-center">time in</th>
                    <th class="text-center">time out</th>
                    <th class="text-center">place</th>
                    <th class="text-center">group</th>
                    <th class="text-center">register</th>
                    <th class="text-center">view</th>
                    <th class="text-center">manage</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of data_grid; let i = index">
                    <td class="text-center">{{ i + 1 }}</td>
                    <td>{{ item.course_no }}</td>
                    <td>{{ item.course_name_th }}</td>
                    <td class="text-center">{{ item.date_start | date: 'yy/MM/dd' }}</td>
                    <td class="text-center">{{ item.date_end | date: 'yy/MM/dd'}}</td>
                    <td class="text-center">{{ item.date_start | date: 'HH:mm'}}</td>
                    <td class="text-center">{{ item.date_end | date: 'HH:mm'}}</td>
                    <td>{{ item.place }}</td>
                    <td class="text-center">{{ item.organization.org_abb+" ("+item.org_code+")" }}</td>
                    <td class="text-center">
                        <div *ngIf="item.open_register;then open else close"></div>
                        <ng-template #open><span class="badge badge-success">Open</span></ng-template>
                        <ng-template #close><span class="badge badge-dark">Close</span></ng-template>
                    </td>
                    <td class="text-center">
                        <a routerLink="../register-data/{{item.course_no}}"><i class="far fa-eye"></i></a>
                    </td>
                    <td class="text-center">
                        <div *ngIf="item.org_code != _org_code; else elseBlock"><span></span></div>
                        <ng-template #elseBlock>
                            <!-- <div *ngIf="CheckDate(item.date_end) != true; else elseDate"><span></span></div> -->
                            <div *ngIf="item.status_active==0; else elseDate"><span></span></div>
                            <ng-template #elseDate>
                                <a href="javascript:;" (click)="fnEdit(item.course_no)"><i class="far fa-edit"></i></a>
                                <a href="javascript:;" (click)="fnDelete(item.course_no)"><i class="far fa-trash-alt"></i></a>
                            </ng-template>
                        </ng-template>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title text-capitalize" id="modal-basic-title">Create Trainer</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body text-capitalize">
        <app-trainer></app-trainer>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark btn-sm" (click)="modal.close('Close click')">Close</button>
    </div>
</ng-template>