<div class="az-header">
    <div class="container-fluid">
        <div class="az-header-left">
            <a href="" id="azSidebarToggle" class="az-header-menu-icon" aria-label="Toogle" 
            (click)="toggleSidebar($event)"><span></span></a>
            <!-- <h1 class="pl-5 text-success">TEST | สำหรับทดสอบ</h1> -->
        </div>
        <!-- az-header-center -->
        <div class="az-header-right">
            <div id="time" class="px-3">{{ now | date:'E, MMMM dd, yyyy HH:mm:ss' }}</div>
            <div class="az-header-message">
                <a routerLink="users"><i class="typcn typcn-user"></i></a>
            </div><!-- az-header-message -->
            <div class="az-header-message">
                <a routerLink="manual"><i class="typcn typcn-book"></i></a>
            </div><!-- az-header-message -->
            <div class="az-header-message">
                <a routerLink="task-schedule"><i class="typcn typcn-time"></i></a>
            </div><!-- az-header-message -->
            <!-- az-header-notification -->
            <div class="dropdown az-profile-menu" ngbDropdown>
                <a class="az-img-user" id="profileDropdown" ngbDropdownToggle>
                    <img src="{{images}}" class="img-radius" alt="image" (error)="image.hidden = true" [hidden]="image.hidden">
                </a>
                <div class="dropdown-menu" ngbDropdownMenu aria-labelledby="profileDropdown">
                    <div class="az-dropdown-header d-sm-none">
                        <a class="az-header-arrow" (click)="closeMenu($event)"><i class="icon ion-md-arrow-back"></i></a>
                    </div>
                    <div class="az-header-profile" style="padding: 20px 0 20px 0;">
                        <div class="az-img-user">
                            <img #image src="{{images}}" class="img-radius" alt="image" (error)="image.hidden = true" [hidden]="image.hidden">
                            <!-- <img src="assets/images/img1.jpg" alt=""> -->
                        </div>
                        <!-- az-img-user -->
                        <h6>{{_fullname}}.</h6>
                        <span>{{_positions}}</span>
                    </div>
                    <!-- az-header-profile -->

                    <a routerLink="/authentication/profile" class="dropdown-item"><i class="typcn typcn-key-outline"></i> Change password</a>
                    <a class="dropdown-item" (click)="SingOut()"><i class="typcn typcn-power-outline"></i> Sign out</a>
                </div>
                <!-- dropdown-menu -->
            </div>
        </div>
        <!-- az-header-right -->
    </div>
    <!-- container -->
</div>
<!-- az-header -->