<div class="card card-body mb-3">
    <div class="col-4">
        <div class="form-group col mb-0">
            <label class="az-content-label tx-11 tx-medium tx-gray-600">Upload file</label>
            <div class="custom-file">
                <input type="file" class="custom-file-input pointer" (change)="chooseFile($event)" #customFile>
                <label class="custom-file-label" for="customFile">{{nameFile}}</label>
            </div>
        </div>
    </div>
</div>

<table class="table table-bordered table-bordered table-sm w-100">
<thead>
    <tr>
        <th class="text-center">EMP NO</th>
        <th class="text-center">NAME</th>
        <th class="text-center">BAND</th>
        <th class="text-center">POSITION</th>
        <th class="text-center" *ngFor="let item of courses">{{ item.course_no }}</th>
    </tr>
</thead>
<tbody>
    <tr *ngFor="let item of employees">
        <td class="tx-13">{{ item.emp_no }}</td>
        <td class="tx-13">{{ item.fullname_en }}</td>
        <td class="tx-13">{{ item.band }}</td>
        <td class="tx-13">{{ item.position_name_en }}</td>
        <td class="tx-13" *ngFor="let c of courses">
            {{ c.course_no  }}
            <!-- <span>{{ match_course(item.emp_no, c.course_no) }}</span> -->
        </td>
    </tr>
</tbody>
</table>