<div class="card card-body mb-3">
    <div class="col-4">
        <div class="form-group col mb-0">
            <label class="az-content-label tx-11 tx-medium tx-gray-600">Upload file</label>
            <div class="custom-file">
                <input type="file" class="custom-file-input pointer" (change)="chooseFile($event)" #customFile>
                <label class="custom-file-label" for="customFile">{{nameFile}}</label>
            </div>
        </div>
    </div>
</div>
        <table class="table table-bordered table-bordered table-sm w-100">
        <thead>
            <tr>
                <th class="text-center">EMP NO</th>
                <th class="text-center">NAME</th>
                <th class="text-center">BAND</th>
                <th class="text-center">POSITION</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="tx-13">014496</td>
                <td class="tx-13">KANCHANA SAIPANUS</td>
                <td class="tx-13">J2</td>
                <td class="tx-13">SENIOR PROGRAMMER</td>
            </tr>
        </tbody>
        </table>

<!-- 
<div class="col-6">
    <div class="card">
        <div class="card-header">
            <h4>Approve zone</h4>
        </div>
        <div class="card-body">
            <table class="table table-bordered table-bordered table-sm w-100">
                <thead>
                    <tr>
                        <th class="text-center">Upload at</th>
                        <th class="text-center">Upload by</th>
                        <th class="text-center">File</th>
                        <th class="text-center">Approver</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="tx-13">2022-03-01 12:00:37</td>
                        <td class="tx-13">014496</td>
                        <td class="tx-13"></td>
                        <td class="tx-13"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
 -->
