.table thead th, .table tbody td{
    padding: 5px 7px 5px 7px;
}


.az-sidebar-sticky + .az-content {
    margin-left: 220px;
}

a.disabled {
    pointer-events: none;
    color: #666;
}


.list-group-item {
    padding: 0.5rem 0.75rem;
}