<div class="card card-info card-body p-2 mb-3">
    <div>
        <h5>Responsibility of center</h5>
        <ul>
            <li>Setting center</li>
            <li>Setting committee</li>
            <li>Setting approver</li>
        </ul>
    </div>
</div> 

<div class="card card-body mb-3" *ngIf="is_center">
    <form (ngSubmit)="save_center()">
    <div class="row">
        <div class="form-group col mb-0 p-1">
            <label class="az-content-label tx-11 tx-medium tx-gray-600">Emp no.</label>
            <input type="text" name="emp_no" class="form-control" required 
                [(ngModel)]="center.emp_no" 
                (keyup)="fillEmpNo()" >
        </div><!-- form-group -->
        <div class="form-group col mb-0 p-1">
            <label class="az-content-label tx-11 tx-medium tx-gray-600">Title</label>
            <select type="text" name="title_name_en" class="form-control" required 
                [(ngModel)]="center.title_name_en" 
                [disabled]="true"
                >
                <option value="MR.">MR.</option>
                <option value="MRS.">MRS.</option>
                <option value="MS.">MS.</option>
                </select>
        </div><!-- form-group -->
        <div class="form-group col mb-0 p-1">
            <label class="az-content-label tx-11 tx-medium tx-gray-600">FIRSTNAME</label>
            <input type="text" name="firstname_en" class="form-control" required 
                [(ngModel)]="center.firstname_en" 
                [disabled]="true">
        </div><!-- form-group -->
        <div class="form-group col mb-0 p-1">
            <label class="az-content-label tx-11 tx-medium tx-gray-600">LASTNAME</label>
            <input type="text" name="lastname_en" class="form-control" required 
                [(ngModel)]="center.lastname_en" 
                [disabled]="true">
        </div><!-- form-group -->
        <div class="form-group col mb-0 p-1">
            <label class="az-content-label tx-11 tx-medium tx-gray-600">DIVISION</label>
            <input type="text" name="div_abb" class="form-control" required 
                [(ngModel)]="center.div_abb"
                [disabled]="true">
        </div><!-- form-group -->
        <div class="form-group col mb-0 p-1">
            <label class="az-content-label tx-11 tx-medium tx-gray-600">DEPARTMENT</label>
            <input type="text" name="dept_abb" class="form-control" required 
                [(ngModel)]="center.dept_abb"
                [disabled]="true">
        </div><!-- form-group -->
        <div class="form-group col mb-0 p-1">
            <label class="az-content-label tx-11 tx-medium tx-gray-600">STATUS</label>
            <input type="text" name="employed_status" class="form-control" required disabled="true"
                [(ngModel)]="center.employed_status" 
            >
        </div><!-- form-group -->
    <!-- </div>
    <div class="row"> -->
        <div class="form-group col mb-0 p-1">
            <label class="az-content-label tx-11 tx-medium tx-gray-600"> </label>
            <div>
                <button type="submit" class="btn btn-az-primary btn-sm">Save</button>
                <button type="button" class="btn btn-dark btn-sm" (click)="reset_form_center()">Clear</button>
            </div>
        </div><!-- form-group -->
    </div>
    </form>
</div>

<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered table-hover mb-3 w-100" id="example">
    <thead>
        <tr>
            <th class="text-center">EMP NO.</th>
            <th class="text-center">TITLE</th>
            <th class="text-center">FIRST NAME</th>
            <th class="text-center">LAST NAME</th>
            <th class="text-center">POSITION</th>
            <th class="text-center">DIVISION</th>
            <th class="text-center">DEPARTMENT</th>
            <th class="text-center">STATUS</th>
            <th class="text-center not-export" *ngIf="is_center">MANAGE</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let center of centers">
            <td>{{ center.emp_no }}</td>
            <td>{{ center.title_name_en }}</td>
            <td>{{ center.firstname_en }}</td>
            <td>{{ center.lastname_en }}</td>
            <td>{{ center.position_name_en }}</td>
            <td>{{ center.div_abb }}</td>
            <td>{{ center.dept_abb }}</td>
            <td [ngClass]="center.employed_status=='RESIGNED'? 'text-danger':''">{{ center.employed_status }}</td>
            <td class="text-center not-export" *ngIf="is_center">
                <a href="javascript:;" (click)="delete_center(center.emp_no)"><i class="far fa-trash-alt"></i></a>
            </td>
        </tr>
    </tbody>
</table>

<hr *ngIf="is_center">

<div class="row" *ngIf="is_center">
    <div class="col-md-4 offset-2">
        <form (ngSubmit)="save_setting()">
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-cog"></i> Setting signature sheet
                </div>
                <div class="card-body">
                    <div class="row row-xs align-items-center mg-b-20">
                        <div class="col-md-4">
                        <label class="form-label mg-b-0">Name</label>
                        </div><!-- col -->
                        <div class="col-md-8 mg-t-5 mg-md-t-0">
                        <input type="text" name="setting.name" [(ngModel)]="setting.name" class="form-control" placeholder="Enter name">
                        </div><!-- col -->
                    </div><!-- row -->

                    <div class="row row-xs align-items-center mg-b-20">
                        <div class="col-md-4">
                            <label class="form-label mg-b-0">Position</label>
                        </div><!-- col -->
                        <div class="col-md-8 mg-t-5 mg-md-t-0">
                        <input type="text" name="setting.position" [(ngModel)]="setting.position" class="form-control" placeholder="Enter position">
                        </div><!-- col -->
                    </div><!-- row -->
                    
                    <p class="tx-11">LATEST UPDATED: {{ setting.updated_at | date:'yy/MM/dd HH:mm:ss' }}{{" ("+setting.updated_by+")" }}</p>

                    <button type="submit" class="btn btn-sm btn-az-primary pd-x-30 mg-r-5">Save</button>
                    <button type="button" class="btn btn-sm btn-dark pd-x-30">Cancel</button>
                </div>
            </div>
        </form>
    </div>

    
    <div class="col-md-4">
        <form (ngSubmit)="extend_course()">
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-cog"></i> Extend course
                </div>
                <div class="card-body">
                    <div class="row row-xs align-items-center mg-b-20">
                        <div class="col-md-5">
                            <label class="form-label mg-b-0">Course no.</label>
                        </div><!-- col -->
                        <div class="col-md-7 mg-t-5 mg-md-t-0">
                            <div class="input-group">
                                <input type="text" name="extend.course_no" [(ngModel)]="extend.course_no" 
                                    class="form-control" placeholder="Course no.">
                                <span class="input-group-btn">
                                    <button class="btn btn-sm btn-az-primary" type="button" (click)="find_date_end()">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </div><!-- col -->
                    </div><!-- row -->

                    <div class="row row-xs align-items-center mg-b-20">
                        <div class="col-md-5">
                            <label class="form-label mg-b-0">Date end</label>
                        </div><!-- col -->
                        <div class="col-md-7 mg-t-5 mg-md-t-0">
                        <input type="date" name="extend.date_end_get" [(ngModel)]="extend.date_end_get" 
                            class="form-control" placeholder="Date end">
                        </div><!-- col -->
                    </div><!-- row -->

                    

                    <div class="row row-xs align-items-center mg-b-20">
                        <div class="col-md-5">
                            <label class="form-label mg-b-0">Extend date end to</label>
                        </div><!-- col -->
                        <div class="col-md-7 mg-t-5 mg-md-t-0">
                        <input type="date" name="extend.date_end" [(ngModel)]="extend.date_end" 
                            class="form-control" placeholder="Date end">
                        </div><!-- col -->
                    </div><!-- row -->

                    <button type="submit" class="btn btn-sm btn-az-primary pd-x-30 mg-r-5">Save</button>
                    <button type="button" class="btn btn-sm btn-dark pd-x-30" (click)="clear_extend()" >Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>

