<div class="row mb-3">
    <div class="col-6 offset-3">
        <div class="form-group col mb-0">
            <label class="az-content-label tx-11 tx-medium tx-gray-600">COURSE NO.</label>     
            <ng-select 
                autocomplete="false"
                [(ngModel)]="course_no"
                [items]="courses"
                [ngModelOptions]="{standalone: true}"
                [searchFn]="custom_search_course_fn"
                bindValue="course_no"
                bindLabel="course_no"
                allow-clear="true"
                (change)="get_course()">	
                <ng-template ng-option-tmp ng-label-tmp let-item="item">
                    {{item.course_no}}: {{item.course_name_th}}
                </ng-template>	
            </ng-select>
        </div>
    </div>
</div>


<div class="card card-body tx-13 mt-3 mb-3" *ngIf="(course | json) != '{}'">
    <dl class="row my-0">
        <dt class="col-sm-2">COURSE NO.: </dt>
        <dd class="col-sm-2">{{ course.course_no }}</dd>
    </dl>
    <dl class="row my-0">
        <dt class="col-sm-2">THAI NAME:</dt>
        <dd class="col-sm-4">{{ course.course_name_th || '-' }}</dd>
        <dt class="col-sm-2">ENGLISH  NAME:</dt>
        <dd class="col-sm-4">{{ course.course_name_en || '-' }}</dd>
    </dl>
    <dl class="row my-0">
        <dt class="col-sm-2">GROUP:</dt>
        <dd class="col-sm-4">{{ course.organization.org_abb+" ("+course.org_code+")" }}</dd>
        <dt class="col-sm-2">BAND:</dt>
        <dd class="col-sm-4">{{ course.band_text }}</dd> 
    </dl>
    <dl class="row my-0">
        <dt class="col-sm-2">DAY: </dt>
        <dd class="col-sm-4">{{ course.days }}</dd>
        <dt class="col-sm-2">CAPACITY:</dt>
        <dd class="col-sm-4">{{ course.capacity }}</dd>
    </dl>
    <dl class="row my-0">
        <dt class="col-sm-2">CREATED:</dt>
        <dd class="col-sm-4">{{ course.created_at | date:'yy/MM/dd HH:mm:ss' }}{{" ("+course.created_by+")" }}</dd> 
        <dt class="col-sm-2">UPDATED:</dt>
        <dd class="col-sm-4">{{ course.updated_at | date:'yy/MM/dd HH:mm:ss' }}{{" ("+course.updated_by+")" }}</dd> 
    </dl>
</div>
